/* src/fonts.css */
@font-face {
    font-family: 'Angradir';
    src: url('./Agrandir.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Angradir';
    src: url('./Agrandir-TextBold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Angradir';
    src: url('./agrandir-tight-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Angradir';
    src: url('./agrandir-tight-black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
