.steps {
    background-color: #FFDFCD;
    padding: 20px;
    text-align: justify;
    padding-left: 8vw;
    padding-top: 5%;
    padding-bottom: 8%;
}

.steps h1 {
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 60px;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Gap between boxes */
    margin-left: -15%;
    margin-right: auto;
}

.step-box {
    background-color: white;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    text-align: center;
    width: calc(25% - 20px); /* Four boxes in a row on larger screens */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-box img {
    width: 70%; /* Adjusted size */
    height: auto;
    margin-bottom: 15px;
    padding-top: 10%;
}

.step-box p {
    font-size: 1rem;
    font-weight: 300;
    margin-top: -10%;
    padding-left: 3%;
    padding-right: 3%;
}

.step-box h1 {
    font-size: x-large;
}

.getinv {
    padding-top: 6.5%;
}

.howinv {
    background-color: limegreen;
    border-radius: 10px;
    color: white;
    width: 110%;
    border: 0;
    font-size: larger;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .step-container {
        flex-direction: row; /* Two boxes in each row */
        gap: 10px; /* Reduced gap for smaller screens */
        justify-content: flex-start; /* Left align */
        margin-left: 2%;
    }

    .step-box {
        width: 55%; /* 50-60% width for each box */
        margin: 0 auto;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.8);
        margin-bottom: 20px; /* Space below each box */
    }

    .steps h1 {
        font-size: 5vw; /* Responsive font size */
        margin-bottom: 20px;
    }
}

/* Adjustments for medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .step-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .step-box {
        width: calc(50% - 20px); /* Two boxes per row on tablets */
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .steps {
        padding-left: 5vw;
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .step-box {
        width: 55%; /* 50-60% width for mobile */
        margin-left: 0; /* Left align */
    }

    .step-box img {
        width: 80%; /* Adjust image size for mobile */
    }

    .steps h1 {
        font-size: 8vw;
    }

    .step-box h1{
        font-size: medium;
    }
    .howinv{
        width: fit-content;
        font-size: 4vw;
        padding: 0.5vw;
        margin-top: 1vw;
    }
}